# Lesson 3 Class Exercises: Pandas Part 1

## Reminder
The first checkin-in of the project is due next Tueday.  After today, you should have everything you need to know to accomplish that first part.

## Get Started
Import the Numpy and Pandas packages

In [1]:
import numpy as np
import pandas as pd

## Exercise 1: Import Iris Data
Import the Iris dataset made available to you in the last class period for the Numpy part2 exercises. Save it to a variable naemd `iris`. Print the first 5 rows and the dimensions to ensure it was read in properly.

In [7]:
iris_df = pd.read_csv('iris.csv')

print(iris_df.head())

iris_df.shape

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

(150, 5)

Notice how much easier this was to import compared to the Numpy `genfromtxt`. We did not have to skip the headers, we did not have to specify the data type and we can have mixed data types in the same matrix.

## Exercise 2: Import Legislators Data
For portions of this notebook we will use a public dataset that contains all of the current legistators of the United States Congress. This dataset can be found [here](https://github.com/unitedstates/congress-legislators).  

Import the data directly from this URL:  https://theunitedstates.io/congress-legislators/legislators-current.csv

Save the data in a variable named `legistators`. Print the first 5 lines, and the dimensions.

In [9]:
legistators = pd.read_csv("https://theunitedstates.io/congress-legislators/legislators-current.csv")

print(legistators.head())

legistators.shape

  last_name first_name middle_name suffix nickname             full_name  \
0     Brown    Sherrod         NaN    NaN      NaN         Sherrod Brown
1  Cantwell      Maria         NaN    NaN      NaN        Maria Cantwell
2    Cardin   Benjamin          L.    NaN      NaN    Benjamin L. Cardin
3    Carper     Thomas     Richard    NaN      NaN      Thomas R. Carper
4     Casey     Robert          P.    Jr.      Bob  Robert P. Casey, Jr.

     birthday gender type state  ...  opensecrets_id  lis_id  \
0  1952-11-09      M  sen    OH  ...       N00003535    S307
1  1958-10-13      F  sen    WA  ...       N00007836    S275
2  1943-10-05      M  sen    MD  ...       N00001955    S308
3  1947-01-23      M  sen    DE  ...       N00012508    S277
4  1960-04-13      M  sen    PA  ...       N00027503    S309

               fec_ids cspan_id govtrack_id votesmart_id  ballotpedia_id  \
0  H2OH13033,S6OH00163   5051.0      400050      27018.0   Sherrod Brown
1  S8WA00194,H2WA01054  26137.0      300018      27122.0  Maria Cantwell
2  H6MD03177,S6MD03177   4004.0      400064      26888.0      Ben Cardin
3            S8DE00079    663.0      300019      22421.0      Tom Carper
4            S6PA00217  47036.0      412246       2541.0  Bob Casey, Jr.

  washington_post_id icpsr_id    wikipedia_id
0                NaN  29389.0   Sherrod Brown
1                NaN  39310.0  Maria Cantwell
2                NaN  15408.0      Ben Cardin
3                NaN  15015.0      Tom Carper
4                NaN  40703.0   Bob Casey Jr.

[5 rows x 34 columns]

(536, 34)

## Exercise 3: Explore the Data
### Task 1
Print the column names of the legistators dataframe and explore the type of data in the data frame.

In [10]:
legistators.columns

Index(['last_name', 'first_name', 'middle_name', 'suffix', 'nickname',
       'full_name', 'birthday', 'gender', 'type', 'state', 'district',
       'senate_class', 'party', 'url', 'address', 'phone', 'contact_form',
       'rss_url', 'twitter', 'facebook', 'youtube', 'youtube_id',
       'bioguide_id', 'thomas_id', 'opensecrets_id', 'lis_id', 'fec_ids',
       'cspan_id', 'govtrack_id', 'votesmart_id', 'ballotpedia_id',
       'washington_post_id', 'icpsr_id', 'wikipedia_id'],
      dtype='object')

### Task 2
Show the datatypes of all of the columns in the legislator data. Do all of the data types seem appropriate for the data?

In [13]:
legistators.dtypes

last_name              object
first_name             object
middle_name            object
suffix                 object
nickname               object
full_name              object
birthday               object
gender                 object
type                   object
state                  object
district              float64
senate_class          float64
party                  object
url                    object
address                object
phone                  object
contact_form           object
rss_url                object
twitter                object
facebook               object
youtube                object
youtube_id             object
bioguide_id            object
thomas_id             float64
opensecrets_id         object
lis_id                 object
fec_ids                object
cspan_id              float64
govtrack_id             int64
votesmart_id          float64
ballotpedia_id         object
washington_post_id    float64
icpsr_id              float64
wikipedia_id           object
dtype: object

Show all of the datayptes in the iris dataframe

In [14]:
iris_df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

### Task 3
It's always important to know where the missing values are in your data. Are there any missing values in the legislators dataframe? How many per column?  

Hint: we didn't learn how to find missing values in the lesson, but we can use the `isna()` function.

In [17]:
legistators.isna().sum()

last_name               0
first_name              0
middle_name           340
suffix                518
nickname              508
full_name               0
birthday                0
gender                  0
type                    0
state                   0
district              100
senate_class          436
party                   0
url                     0
address                 0
phone                   0
contact_form          435
rss_url               245
twitter                 8
facebook              111
youtube               229
youtube_id            140
bioguide_id             0
thomas_id             160
opensecrets_id          1
lis_id                436
fec_ids                 0
cspan_id              102
govtrack_id             0
votesmart_id           19
ballotpedia_id        213
washington_post_id    536
icpsr_id                7
wikipedia_id            0
dtype: int64

How about in the iris dataframe?

In [18]:
iris_df.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

### Task 4
It is also important to know if you have any duplicatd rows. If you are performing statistcal analyses and you have duplicated entries they can affect the results.  So, let's find out.  Are there any duplicated rows in the legislators dataframe?  Print then number of duplicates. If there are duplicates print the rows. What function could we used to find out if we have duplicated rows?

In [24]:
print(legistators.duplicated())
print(legistators[legistators.duplicated()])

0      False
1      False
2      False
3      False
4      False
       ...
531    False
532    False
533    False
534    False
535    False
Length: 536, dtype: bool
Empty DataFrame
Columns: [last_name, first_name, middle_name, suffix, nickname, full_name, birthday, gender, type, state, district, senate_class, party, url, address, phone, contact_form, rss_url, twitter, facebook, youtube, youtube_id, bioguide_id, thomas_id, opensecrets_id, lis_id, fec_ids, cspan_id, govtrack_id, votesmart_id, ballotpedia_id, washington_post_id, icpsr_id, wikipedia_id]
Index: []

[0 rows x 34 columns]

In [25]:
print(legistators.duplicated().sum())

0

Do we have duplicated rows in the iris dataset? Print the number of duplicates? If there are duplicates print the rows.

In [28]:
print(iris_df.duplicated())
print(iris_df[iris_df.duplicated()])
print(iris_df.duplicated().sum())

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool
     sepal_length  sepal_width  petal_length  petal_width    species
34            4.9          3.1           1.5          0.1     setosa
37            4.9          3.1           1.5          0.1     setosa
142           5.8          2.7           5.1          1.9  virginica
3

If there are duplicated rows should we remove them or keep them?

### Task 5
It is important to also check that the range of values in our data matches expectations.  For example, if we expect to have four species in our iris data, we should check that we see four species. How many political parties should we expect in the legislators data?  If all we saw were a single part perhaps the data is incomplete.... Let's check.   You can find out how many unique values there are per column using the `nunique` function.  Try it for both the legislators and the iris data set.

In [30]:
legistators.nunique()

last_name             488
first_name            317
middle_name            59
suffix                  4
nickname               21
full_name             536
birthday              529
gender                  2
type                    2
state                  56
district               53
senate_class            3
party                   3
url                   536
address               536
phone                 536
contact_form          101
rss_url               290
twitter               528
facebook              425
youtube               307
youtube_id            396
bioguide_id           536
thomas_id             376
opensecrets_id        535
lis_id                100
fec_ids               536
cspan_id              434
govtrack_id           536
votesmart_id          517
ballotpedia_id        323
washington_post_id      0
icpsr_id              529
wikipedia_id          536
dtype: int64

In [31]:
iris_df.nunique()

sepal_length    35
sepal_width     23
petal_length    43
petal_width     22
species          3
dtype: int64

What do you think?  Do we see what we might expect?  Are there fields where this type of check doesn't matter? In what fields might this type of exploration matter?

Check to see if you have all of the values expected for a given field. Pick a column you know should have a set number of values and print all of the unique values in that column. Do so for both the legislator and iris datasets.

In [33]:
legistators['full_name'].unique()

array(['Sherrod Brown', 'Maria Cantwell', 'Benjamin L. Cardin',
       'Thomas R. Carper', 'Robert P. Casey, Jr.', 'Dianne Feinstein',
       'Amy Klobuchar', 'Robert Menendez', 'Bernard Sanders',
       'Debbie Stabenow', 'Jon Tester', 'Sheldon Whitehouse',
       'John Barrasso', 'Roger F. Wicker', 'Lamar Alexander',
       'Susan M. Collins', 'John Cornyn', 'Richard J. Durbin',
       'Michael B. Enzi', 'Lindsey Graham', 'James M. Inhofe',
       'Mitch McConnell', 'Jeff Merkley', 'Jack Reed', 'James E. Risch',
       'Pat Roberts', 'Jeanne Shaheen', 'Tom Udall', 'Mark R. Warner',
       'Kirsten E. Gillibrand', 'Christopher A. Coons',
       'Joe Manchin, III', 'Robert B. Aderholt', 'Justin Amash',
       'Tammy Baldwin', 'Karen Bass', 'Michael F. Bennet',
       'Gus M. Bilirakis', 'Rob Bishop', 'Sanford D. Bishop, Jr.',
       'Marsha Blackburn', 'Earl Blumenauer', 'Richard Blumenthal',
       'Roy Blunt', 'John Boozman', 'Kevin Brady', 'Mo Brooks',
       'Vern Buchanan', 'Larry Bucshon', 'Michael C. Burgess',
       'Richard Burr', 'G. K. Butterfield', 'Ken Calvert',
       'Shelley Moore Capito', 'André Carson', 'John R. Carter',
       'Bill Cassidy', 'Kathy Castor', 'Steve Chabot', 'Judy Chu',
       'David N. Cicilline', 'Yvette D. Clarke', 'Wm. Lacy Clay',
       'Emanuel Cleaver', 'James E. Clyburn', 'Steve Cohen', 'Tom Cole',
       'K. Michael Conaway', 'Gerald E. Connolly', 'Jim Cooper',
       'Jim Costa', 'Joe Courtney', 'Mike Crapo',
       'Eric A. "Rick" Crawford', 'Henry Cuellar', 'Danny K. Davis',
       'Susan A. Davis', 'Peter A. DeFazio', 'Diana DeGette',
       'Rosa L. DeLauro', 'Scott DesJarlais', 'Theodore E. Deutch',
       'Mario Diaz-Balart', 'Lloyd Doggett', 'Michael F. Doyle',
       'Jeff Duncan', 'Eliot L. Engel', 'Anna G. Eshoo',
       'Charles J. "Chuck" Fleischmann', 'Bill Flores',
       'Jeff Fortenberry', 'Virginia Foxx', 'Marcia L. Fudge',
       'John Garamendi', 'Cory Gardner', 'Bob Gibbs', 'Louie Gohmert',
       'Paul A. Gosar', 'Kay Granger', 'Chuck Grassley', 'Sam Graves',
       'Tom Graves', 'Al Green', 'H. Morgan Griffith', 'Raúl M. Grijalva',
       'Brett Guthrie', 'Andy Harris', 'Vicky Hartzler',
       'Alcee L. Hastings', 'Martin Heinrich', 'Jaime Herrera Beutler',
       'Brian Higgins', 'James A. Himes', 'Mazie K. Hirono',
       'John Hoeven', 'Steny H. Hoyer', 'Bill Huizenga',
       'Sheila Jackson Lee', 'Bill Johnson', 'Eddie Bernice Johnson',
       'Henry C. "Hank" Johnson, Jr.', 'Ron Johnson', 'Jim Jordan',
       'Marcy Kaptur', 'William R. Keating', 'Mike Kelly', 'Ron Kind',
       'Peter T. King', 'Steve King', 'Adam Kinzinger', 'Doug Lamborn',
       'James R. Langevin', 'James Lankford', 'Rick Larsen',
       'John B. Larson', 'Robert E. Latta', 'Patrick J. Leahy',
       'Barbara Lee', 'Mike Lee', 'John Lewis', 'Daniel Lipinski',
       'David Loebsack', 'Zoe Lofgren', 'Billy Long', 'Nita M. Lowey',
       'Frank D. Lucas', 'Blaine Luetkemeyer', 'Ben Ray Luján',
       'Stephen F. Lynch', 'Carolyn B. Maloney', 'Kenny Marchant',
       'Edward J. Markey', 'Doris O. Matsui', 'Kevin McCarthy',
       'Michael T. McCaul', 'Tom McClintock', 'Betty McCollum',
       'James P. McGovern', 'Patrick T. McHenry', 'David B. McKinley',
       'Cathy McMorris Rodgers', 'Jerry McNerney', 'Gregory W. Meeks',
       'Gwen Moore', 'Jerry Moran', 'Lisa Murkowski',
       'Christopher Murphy', 'Patty Murray', 'Jerrold Nadler',
       'Grace F. Napolitano', 'Richard E. Neal', 'Eleanor Holmes Norton',
       'Devin Nunes', 'Pete Olson', 'Steven M. Palazzo',
       'Frank Pallone, Jr.', 'Bill Pascrell, Jr.', 'Rand Paul',
       'Nancy Pelosi', 'Ed Perlmutter', 'Gary C. Peters',
       'Collin C. Peterson', 'Chellie Pingree', 'Rob Portman',
       'Bill Posey', 'David E. Price', 'Mike Quigley', 'Tom Reed',
       'Cedric L. Richmond', 'Martha Roby', 'David P. Roe',
       'Harold Rogers', 'Mike Rogers', 'Lucille Roybal-Allard',
       'Marco Rubio', 'C. A. Dutch Ruppersberger', 'Bobby L. Rush',
       'Tim Ryan', 'Gregorio Kilili Camacho Sablan', 'John P. Sarbanes',
       'Steve Scalise', 'Janice D. Schakowsky', 'Adam B. Schiff',
       'Kurt Schrader', 'Charles E. Schumer', 'David Schweikert',
       'Austin Scott', 'David Scott', 'Robert C. "Bobby" Scott',
       'Tim Scott', 'F. James Sensenbrenner, Jr.', 'José E. Serrano',
       'Terri A. Sewell', 'Richard C. Shelby', 'Brad Sherman',
       'John Shimkus', 'Michael K. Simpson', 'Albio Sires', 'Adam Smith',
       'Adrian Smith', 'Christopher H. Smith', 'Jackie Speier',
       'Steve Stivers', 'Linda T. Sánchez', 'Bennie G. Thompson',
       'Mike Thompson', 'Glenn Thompson', 'Mac Thornberry', 'John Thune',
       'Scott R. Tipton', 'Paul Tonko', 'Patrick J. Toomey',
       'Michael R. Turner', 'Fred Upton', 'Chris Van Hollen',
       'Nydia M. Velázquez', 'Peter J. Visclosky', 'Tim Walberg',
       'Greg Walden', 'Debbie Wasserman Schultz', 'Maxine Waters',
       'Daniel Webster', 'Peter Welch', 'Joe Wilson',
       'Frederica S. Wilson', 'Robert J. Wittman', 'Steve Womack',
       'Rob Woodall', 'Ron Wyden', 'John A. Yarmuth', 'Don Young',
       'Todd Young', 'Mark E. Amodei', 'Suzanne Bonamici',
       'Suzan K. DelBene', 'Thomas Massie', 'Donald M. Payne, Jr.',
       'Brian Schatz', 'Bill Foster', 'Dina Titus', 'Tom Cotton',
       'Kyrsten Sinema', 'Doug LaMalfa', 'Jared Huffman', 'Ami Bera',
       'Paul Cook', 'Eric Swalwell', 'Julia Brownley', 'Tony Cárdenas',
       'Raul Ruiz', 'Mark Takano', 'Alan S. Lowenthal', 'Juan Vargas',
       'Scott H. Peters', 'Ted S. Yoho', 'Lois Frankel', 'Doug Collins',
       'Tulsi Gabbard', 'Tammy Duckworth', 'Rodney Davis', 'Cheri Bustos',
       'Jackie Walorski', 'Susan W. Brooks', 'Andy Barr',
       'Elizabeth Warren', 'Joseph P. Kennedy III', 'Angus S. King, Jr.',
       'Daniel T. Kildee', 'Ann Wagner', 'Steve Daines', 'Richard Hudson',
       'Mark Meadows', 'George Holding', 'Kevin Cramer', 'Deb Fischer',
       'Ann M. Kuster', 'Grace Meng', 'Hakeem S. Jeffries',
       'Sean Patrick Maloney', 'Brad R. Wenstrup', 'Joyce Beatty',
       'David P. Joyce', 'Markwayne Mullin', 'Scott Perry',
       'Matt Cartwright', 'Tom Rice', 'Ted Cruz', 'Randy K. Weber, Sr.',
       'Joaquin Castro', 'Roger Williams', 'Marc A. Veasey',
       'Filemon Vela', 'Chris Stewart', 'Tim Kaine', 'Derek Kilmer',
       'Denny Heck', 'Mark Pocan', 'Robin L. Kelly', 'Jason Smith',
       'Cory A. Booker', 'Katherine M. Clark', 'Bradley Byrne',
       'Donald Norcross', 'Alma S. Adams', 'Gary J. Palmer',
       'J. French Hill', 'Bruce Westerman', 'Ruben Gallego',
       'Mark DeSaulnier', 'Pete Aguilar', 'Ted Lieu', 'Norma J. Torres',
       'Ken Buck', 'Earl L. "Buddy" Carter', 'Jody B. Hice',
       'Barry Loudermilk', 'Rick W. Allen', 'Mike Bost',
       'Ralph Lee Abraham', 'Garret Graves', 'Seth Moulton',
       'John R. Moolenaar', 'Debbie Dingell', 'Brenda L. Lawrence',
       'Tom Emmer', 'David Rouzer', 'Bonnie Watson Coleman',
       'Lee M. Zeldin', 'Kathleen M. Rice', 'Elise M. Stefanik',
       'John Katko', 'Brendan F. Boyle', 'John Ratcliffe', 'Will Hurd',
       'Brian Babin', 'Donald S. Beyer, Jr.', 'Stacey E. Plaskett',
       'Dan Newhouse', 'Glenn Grothman', 'Alexander X. Mooney',
       'Aumua Amata Coleman Radewagen', 'Dan Sullivan', 'David Perdue',
       'Joni Ernst', 'Thom Tillis', 'Mike Rounds', 'Mark Walker',
       'Ben Sasse', 'Trent Kelly', 'Darin LaHood', 'Warren Davidson',
       'James Comer', 'Dwight Evans', 'Kamala D. Harris', 'John Kennedy',
       'Margaret Wood Hassan', 'Catherine Cortez Masto',
       'Bradley Scott Schneider', 'Tom O’Halleran', 'Andy Biggs',
       'Ro Khanna', 'Jimmy Panetta', 'Salud O. Carbajal',
       'Nanette Diaz Barragán', 'J. Luis Correa', 'Lisa Blunt Rochester',
       'Matt Gaetz', 'Neal P. Dunn', 'John H. Rutherford',
       'Al Lawson, Jr.', 'Stephanie N. Murphy', 'Darren Soto',
       'Val Butler Demings', 'Charlie Crist', 'Brian J. Mast',
       'Francis Rooney', 'A. Drew Ferguson IV', 'Raja Krishnamoorthi',
       'Jim Banks', 'Trey Hollingsworth', 'Roger W. Marshall',
       'Clay Higgins', 'Mike Johnson', 'Anthony G. Brown', 'Jamie Raskin',
       'Jack Bergman', 'Paul Mitchell', 'Ted Budd', 'Don Bacon',
       'Josh Gottheimer', 'Jacky Rosen', 'Thomas R. Suozzi',
       'Adriano Espaillat', 'Brian K. Fitzpatrick', 'Lloyd Smucker',
       'Jenniffer González-Colón', 'David Kustoff', 'Vicente Gonzalez',
       'Jodey C. Arrington', 'A. Donald McEachin', 'Pramila Jayapal',
       'Mike Gallagher', 'Liz Cheney', 'Ron Estes', 'Greg Gianforte',
       'Ralph Norman', 'Jimmy Gomez', 'John R. Curtis', 'Doug Jones',
       'Tina Smith', 'Cindy Hyde-Smith', 'Conor Lamb', 'Debbie Lesko',
       'Michael Cloud', 'Troy Balderson', 'Kevin Hern',
       'Joseph D. Morelle', 'Mary Gay Scanlon', 'Susan Wild', 'Ed Case',
       'Steven Horsford', 'Ann Kirkpatrick', 'Greg Stanton',
       'Josh Harder', 'TJ Cox', 'Gilbert Ray Cisneros, Jr.',
       'Katie Porter', 'Harley Rouda', 'Mike Levin', 'Joe Neguse',
       'Jason Crow', 'Jahana Hayes', 'Michael Waltz', 'Ross Spano',
       'W. Gregory Steube', 'Debbie Mucarsel-Powell', 'Donna E. Shalala',
       'Lucy McBath', 'Michael F. Q. San Nicolas', 'Abby Finkenauer',
       'Cynthia Axne', 'Russ Fulcher', 'Jesús G. "Chuy" García',
       'Sean Casten', 'Lauren Underwood', 'James R. Baird', 'Greg Pence',
       'Steve Watkins', 'Sharice Davids', 'Lori Trahan',
       'Ayanna Pressley', 'David J. Trone', 'Elissa Slotkin',
       'Andy Levin', 'Haley M. Stevens', 'Rashida Tlaib', 'Jim Hagedorn',
       'Angie Craig', 'Dean Phillips', 'Ilhan Omar', 'Pete Stauber',
       'Michael Guest', 'Kelly Armstrong', 'Chris Pappas',
       'Jefferson Van Drew', 'Andy Kim', 'Tom Malinowski',
       'Mikie Sherrill', 'Debra A. Haaland', 'Xochitl Torres Small',
       'Susie Lee', 'Max Rose', 'Alexandria Ocasio-Cortez',
       'Antonio Delgado', 'Anthony Brindisi', 'Anthony Gonzalez',
       'Kendra S. Horn', 'Madeleine Dean', 'Chrissy Houlahan',
       'Daniel Meuser', 'John Joyce', 'Guy Reschenthaler',
       'Joe Cunningham', 'William R. Timmons IV', 'Dusty Johnson',
       'Tim Burchett', 'John W. Rose', 'Mark E. Green', 'Dan Crenshaw',
       'Van Taylor', 'Lance Gooden', 'Ron Wright', 'Lizzie Fletcher',
       'Veronica Escobar', 'Chip Roy', 'Sylvia R. Garcia',
       'Colin Z. Allred', 'Ben McAdams', 'Elaine G. Luria',
       'Denver Riggleman', 'Ben Cline', 'Abigail Davis Spanberger',
       'Jennifer Wexton', 'Kim Schrier', 'Bryan Steil', 'Carol D. Miller',
       'Rick Scott', 'Mike Braun', 'Josh Hawley', 'Mitt Romney',
       'Martha McSally', 'Jared F. Golden', 'Fred Keller', 'Dan Bishop',
       'Gregory F. Murphy', 'Kelly Loeffler'], dtype=object)

In [34]:
iris_df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [32]:
legistators['gender'].unique()

array(['M', 'F'], dtype=object)

## Exercise 5: Describe the data
For both the legislators and the iris data, get descriptive statistics for each numeric field.

In [35]:
legistators.describe()

,district,senate_class,thomas_id,cspan_id,govtrack_id,votesmart_id,washington_post_id,icpsr_id
count,436.000000,100.000000,376.000000,4.340000e+02,536.000000,517.000000,0.0,529.000000
mean,9.869266,2.010000,1749.191489,5.373331e+05,405232.339552,74484.537718,NaN,24147.979206
std,10.478171,0.822598,543.343825,1.467798e+06,22470.871879,61365.127579,NaN,7397.835690
min,0.000000,1.000000,91.000000,5.000000e+00,300002.000000,119.000000,NaN,14066.000000
25%,3.000000,1.000000,1600.500000,4.552275e+04,400642.500000,24046.000000,NaN,21110.000000
50%,6.000000,2.000000,1926.000000,7.964150e+04,412513.500000,51522.000000,NaN,21561.000000
75%,13.000000,3.000000,2126.250000,1.003305e+06,412701.250000,134948.000000,NaN,21970.000000
max,53.000000,3.000000,2296.000000,9.275683e+06,456790.000000,182310.000000,NaN,94659.000000

In [36]:
iris_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

## Exercise 6: Row Index Labels
For the legislator dataframe, let's change the row labels from numerical indexes to something more recognizable.  Take a look at the columns of data, is there anything you might want to substitue as a row label?  Pick one and set the index lables. Then print the top 5 rows to see if the index labels are present.

In [40]:
legistators.index = legistators['party']

legistators.head()

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
party,,,,,,,,,,,,,,,,,,,,,
Democrat,Brown,Sherrod,NaN,NaN,NaN,Sherrod Brown,1952-11-09,M,sen,OH,...,N00003535,S307,"H2OH13033,S6OH00163",5051.0,400050,27018.0,Sherrod Brown,NaN,29389.0,Sherrod Brown
Democrat,Cantwell,Maria,NaN,NaN,NaN,Maria Cantwell,1958-10-13,F,sen,WA,...,N00007836,S275,"S8WA00194,H2WA01054",26137.0,300018,27122.0,Maria Cantwell,NaN,39310.0,Maria Cantwell
Democrat,Cardin,Benjamin,L.,NaN,NaN,Benjamin L. Cardin,1943-10-05,M,sen,MD,...,N00001955,S308,"H6MD03177,S6MD03177",4004.0,400064,26888.0,Ben Cardin,NaN,15408.0,Ben Cardin
Democrat,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
Democrat,Casey,Robert,P.,Jr.,Bob,"Robert P. Casey, Jr.",1960-04-13,M,sen,PA,...,N00027503,S309,S6PA00217,47036.0,412246,2541.0,"Bob Casey, Jr.",NaN,40703.0,Bob Casey Jr.

## Exercise 7: Indexing & Sampling
Randomly select 15 Republicans or Democrats (your choice) from the senate.

In [49]:
legistators[(~legistators['senate_class'].isna()) & (legistators['party'] == "Democrat")].sample(15)

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
party,,,,,,,,,,,,,,,,,,,,,
Democrat,Schumer,Charles,E.,NaN,Chuck,Charles E. Schumer,1950-11-23,M,sen,NY,...,N00001093,S270,"S8NY00082,H0NY16010",5929.0,300087,26976.0,Chuck Schumer,NaN,14858.0,Chuck Schumer
Democrat,Leahy,Patrick,J.,NaN,NaN,Patrick J. Leahy,1940-03-31,M,sen,VT,...,N00009918,S057,S4VT00017,1552.0,300065,53353.0,Patrick Leahy,NaN,14307.0,Patrick Leahy
Democrat,Hassan,Margaret,Wood,NaN,Maggie,Margaret Wood Hassan,1958-02-27,F,sen,NH,...,N00038397,S388,S6NH00091,67481.0,412680,42552.0,Maggie Hassan,NaN,41702.0,Maggie Hassan
Democrat,Baldwin,Tammy,NaN,NaN,NaN,Tammy Baldwin,1962-02-11,F,sen,WI,...,N00004367,S354,"H8WI00018,S2WI00219",57884.0,400013,3470.0,Tammy Baldwin,NaN,29940.0,Tammy Baldwin
Democrat,Coons,Chris,Andrew,NaN,NaN,Christopher A. Coons,1963-09-09,M,sen,DE,...,N00031820,S337,S0DE00092,9269028.0,412390,122834.0,Chris Coons,NaN,40916.0,Chris Coons
Democrat,Manchin,Joe,NaN,III,NaN,"Joe Manchin, III",1947-08-24,M,sen,WV,...,N00032838,S338,S0WV00090,62864.0,412391,7547.0,Joe Manchin III,NaN,40915.0,Joe Manchin
Democrat,Smith,Tina,Flint,NaN,NaN,Tina Smith,1958-03-04,F,sen,MN,...,N00042353,S394,S8MN00578,111313.0,412742,152968.0,Tina Smith,NaN,41706.0,Tina Smith
Democrat,Menendez,Robert,NaN,NaN,Bob,Robert Menendez,1954-01-01,M,sen,NJ,...,N00000699,S306,"H2NJ13075,S6NJ00289",29608.0,400272,26961.0,Bob Menendez,NaN,29373.0,Bob Menendez
Democrat,Carper,Thomas,Richard,NaN,NaN,Thomas R. Carper,1947-01-23,M,sen,DE,...,N00012508,S277,S8DE00079,663.0,300019,22421.0,Tom Carper,NaN,15015.0,Tom Carper
Democrat,Harris,Kamala,NaN,NaN,NaN,Kamala D. Harris,1964-10-20,F,sen,CA,...,N00036915,S387,S6CA00584,1018696.0,412678,120012.0,Kamala Harris,NaN,41701.0,Kamala Harris
Democrat,Warren,Elizabeth,NaN,NaN,NaN,Elizabeth Warren,1949-06-22,F,sen,MA,...,N00033492,S366,S2MA00170,1023023.0,412542,141272.0,Elizabeth Warren,NaN,41301.0,Elizabeth Warren
Democrat,Blumenthal,Richard,NaN,NaN,NaN,Richard Blumenthal,1946-02-13,M,sen,CT,...,N00031685,S341,S0CT00177,21799.0,412490,1568.0,Richard Blumenthal,NaN,41101.0,Richard Blumenthal
Democrat,Schatz,Brian,Emanuel,NaN,NaN,Brian Schatz,1972-10-20,M,sen,HI,...,N00028138,S353,"S4HI00136,H6HI02244",87784.0,412507,17852.0,Brian E. Schatz,NaN,41112.0,Brian Schatz
Democrat,Cortez Masto,Catherine,NaN,NaN,NaN,Catherine Cortez Masto,1964-03-29,F,sen,NV,...,N00037161,S385,S6NV00200,105698.0,412681,69579.0,Catherine Cortez Masto,NaN,41700.0,Catherine Cortez Masto
Democrat,Heinrich,Martin,NaN,NaN,NaN,Martin Heinrich,1971-10-17,M,sen,NM,...,N00029835,S359,"H8NM01224,S2NM00088",1030686.0,412281,74517.0,Martin Heinrich,NaN,20930.0,Martin Heinrich

## Exercise 8: Dates
Let's learn something not covered in the Pandas 1 lesson regarding dates.  We have the birthdates for each legislator, but they are in a String format.  Let's convert it to a datetime object. We can do this using the `pd.to_datetime` function.  Take a look at the online documentation to see how to use this function. Convert the `legislators['birthday']` column to a `datetime` object. Confirm that the column is now a datetime object.

In [51]:
legistators['birthday'] = pd.to_datetime(legistators['birthday'])

In [52]:
legistators['birthday']

party
Democrat     1952-11-09
Democrat     1958-10-13
Democrat     1943-10-05
Democrat     1947-01-23
Democrat     1960-04-13
                ...
Democrat     1982-07-25
Republican   1965-10-23
Republican   1964-07-01
Republican   1963-03-05
Republican   1970-11-27
Name: birthday, Length: 536, dtype: datetime64[ns]

Now that we have the birthdays in a `datetime` object, how can we calculate their age?  Hint: we can use the `pd.Timestamp.now()` function to get a datetime object for this moment. Let's subtract the current time from their birthdays.  Print the top 5 results.

In [55]:
((pd.Timestamp.now() - legistators['birthday']).dt.days)/365

party
Democrat      67.345205
Democrat      61.416438
Democrat      76.449315
Democrat      73.145205
Democrat      59.915068
                ...
Democrat      37.619178
Republican    54.383562
Republican    55.695890
Republican    57.021918
Republican    49.284932
Name: birthday, Length: 536, dtype: float64

Notice that the result of subtracting two `datetime` objects is a `timedelta` object. It contains the difference between two time values. The value we calculated therefore gives us the number of days old.  However, we want the number of years. 

To get the number of years we can divide the number of days old by the number of days in a year (i.e. 365). However, we need to extract out the days from the `datetime` object. To get this, the Pandas Series object has an accessor for extracting components of `datetime` objects and `timedelta` objects. It's named `dt` and it works for both.  You can learn more about the attributes of this accessor at the [datetime objects page](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#datetime-properties) and the [timedelta objects page](https://pandas.pydata.org/pandas-docs/stable/reference/series.html#timedelta-properties) by clicking.  Take a moment to look over that documentation.

How would then extract the days in order to divide by 365 to get the years?  Once you've figurd it out. Do so, convert the years to an integer and add the resulting series back into the legislator dataframe as a new column named `age`.  Hint: use the [astype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.astype.html) function of Pandas to convert the type.

In [57]:
age = (((pd.Timestamp.now() - legistators['birthday']).dt.days)/365).astype(int)

Next, find the youngest, oldest and average age of all legislators

In [59]:
age.describe()

legistators[(age == 30) | (age == 86)]

,last_name,first_name,middle_name,suffix,nickname,full_name,birthday,gender,type,state,...,opensecrets_id,lis_id,fec_ids,cspan_id,govtrack_id,votesmart_id,ballotpedia_id,washington_post_id,icpsr_id,wikipedia_id
party,,,,,,,,,,,,,,,,,,,,,
Democrat,Feinstein,Dianne,NaN,NaN,NaN,Dianne Feinstein,1933-06-22,F,sen,CA,...,N00007364,S221,S0CA00199,13061.0,300043,53273.0,Dianne Feinstein,NaN,49300.0,Dianne Feinstein
Republican,Grassley,Charles,E.,NaN,Chuck,Chuck Grassley,1933-09-17,M,sen,IA,...,N00001758,S153,S0IA00028,1167.0,300048,53293.0,Chuck Grassley,NaN,14226.0,Chuck Grassley
Republican,Young,Don,E.,NaN,NaN,Don Young,1933-06-09,M,rep,AK,...,N00007999,NaN,H6AK00045,1897.0,400440,26717.0,Don Young,NaN,14066.0,Don Young
Democrat,Ocasio-Cortez,Alexandria,NaN,NaN,NaN,Alexandria Ocasio-Cortez,1989-10-13,F,rep,NY,...,N00041162,NaN,H8NY15148,NaN,412804,180416.0,Alexandria Ocasio-Cortez,NaN,21949.0,Alexandria Ocasio-Cortez

Who are the oldest and youngest legislators?

## Exercise 9:  Indexing with loc and iloc
Reindex the legislators dataframe using the state, and find all legislators from your home state using the `loc` accessor.

Use the loc command to find all legislators from South Carolina and North Carolina

Use the loc command to retrieve all legislators from California, Oregon and Washington and only get their full name, state, party and age

## Exercise 10: Economics Data Example
### Task 1: Explore the data
Import the data from the [Lectures in Quantiatives Economics](https://github.com/QuantEcon/lecture-source-py) regarding minimum wages in countries round the world in US Dollars.  You can view the data [here](https://github.com/QuantEcon/lecture-source-py/blob/master/source/_static/lecture_specific/pandas_panel/realwage.csv) and you can access the data file here: https://raw.githubusercontent.com/QuantEcon/lecture-source-py/master/source/_static/lecture_specific/pandas_panel/realwage.csv.  Then perform the following

Import and print the first 5 lines of data to explore what is there.

Find the shape of the data.

List the column names.

Identify the data types. Do they match what you would expect?

Identify columns with missing values.

Identify if there are duplicated entires.

How many unique values per row are there.  Do these look reasonable for the data type and what you know about what is stored in the column?

### Task 2: Explore More
Retrieve descriptive statistics for the data.

Identify all of the countries listed in the data.

Convert the time column to a datetime object.

Identify the time points that were used for data collection. How many years of data collection were there? What time of year were the data collected?

Because we only have one data point collected per year per country, simplify this by adding a new column with just the year.  Print the first 5 rows to confirm the column was added.

There are two pay periods.  Retrieve them in a list of just the two strings

### Task 3: Clean the data
We have no duplicates in this data so we do not need to consider removing those, but we do have missing values in the `value` column. Lets remove those.  Check the dimensions afterwards to make sure they rows with missing values are gone.

### Task 4:  Indexing
Use boolean indexing to retrieve the rows of annual salary in United States

Do we have enough data to calculate descriptive statistics for annual salary in the United States in 2016?

Use loc to calculate descriptive statistics for the hourly salary in the United States and then again separately for Ireland. Hint: you will have to set row indexes.

Now do the same for Annual salary